<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
</head>

<body>
  <%- include('./partials/nav') %>

    <div class="container mb-3 mt-3">
      <form action="/newblogs/add-new-blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="CoverImage" class="form-label">Cover Image</label>
          <input class="form-control" type="file" id="CoverImage" name="CoverImage" required>
        </div>

        <div class="mb-3">
          <label for="Title" class="form-label">Title</label>
          <input type="text" class="form-control" id="Title" name="Title" required>
        </div>

        <div class="mb-3">
          <label for="Body" class="form-label">Body</label>
          <textarea class="form-control" id="Body" name="Body" rows="6" required></textarea>
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>

    <%- include('./partials/scripts') %>
</body>

</html>
